$c-primary-pink: rgb(239, 162, 173);
$c-primary-blue: rgb(143, 140, 227);
$c-off-white: rgb(239, 236, 232);
$c-off-black: rgb(41, 41, 41);


$colors: (
    bootstrap: #EE8130,
    sass: #6390F0,
    tailwind: #7AC74C,
    mui: #C22E28,
    styled-components: #E2BF65,
);